
<ion-view view-title="Scan">
  <ion-content class="padding" scroll="false">
    <div class="list card">

      <div class="item item-image">
        <!--<img class="small" src="img/cinema.png">-->
        <div class="item myCenterCardContent" style="background-image: url('img/epoch_Brain_Outline.png');" >

        </div>
      </div>


      <div class="item item-image ">
       <!-- <img class="small" on-touch="go('tab.scanning')" ng-src="{{img.scan}}" >-->
        <div class="item myCenterCardContent" style="background-image: url('img/ionic.png'); background-size: 200px 200px;" on-touch="go('tab.scanning')" >
          <p class="p" style="">
            Scan
          </p>
        </div>
      </div>


    </div>

  </ion-content>
</ion-view>

