
<ion-view view-title="Scanning">
  <ion-content class="padding" scroll="true">
    <div class="list card">
      <div class="item item-image">
        <!--<img class="small" src="img/cinema.png">-->
        <div class="item myCenterCardContent" style="background-image: url('img/scanning.png');background-size: 200px 200px;" >
          <p class="p" style="">
          </p>
        </div>
        <div class="item">
          <ul class="list">
            <!--<li class="item">
              ID : {{record.id}}
            </li>-->
            <li class="item">
              ACC : {{record.ACC}}
            </li>
            <li class="item">
              EEG : {{record.EEG}}
            </li>
            <li class="item">
              ALPHA_ABS : {{record.ALPHA_ABS}}
            </li>
            <li class="item">
              BETA_ABS : {{record.BETA_ABS}}
            </li>
            <li class="item">
              DELTA_ABS : {{record.DELTA_ABS}}
            </li>
            <li class="item">
              THETA_ABS : {{record.THETA_ABS}}
            </li>
            <li class="item">
              GAMMA_ABS : {{record.GAMMA_ABS}}
            </li>
            <li class="item">
              TIMESTAMP : {{record.TIMESTAMP}}
            </li>
          </ul>
        </div>

      <!--<div id="compassContainer">
        <div id="museSuccessContainer">
          No Muse device data
        </div>
        <div id="museErrorContainer">
          No Muse device Error
        </div>
        <div >
          ID : {{record.id}}
        </div>
        <div >
          ACC : {{record.ACC}}
        </div>
        <div >
          EEG : {{record.EEG}}
        </div>
        <div >
          ALPHA_ABS : {{record.ALPHA_ABS}}
        </div>
        <div >
          BETA_ABS : {{record.BETA_ABS}}
        </div>
        <div >
          DELTA_ABS : {{record.DELTA_ABS}}
        </div>
        <div >
          THETA_ABS : {{record.THETA_ABS}}
        </div>
        <div >
          GAMMA_ABS : {{record.GAMMA_ABS}}
        </div>
        <div >
          ATDratio : {{result.ATDratio}}
        </div>
        <div >
          Score : {{result.Score}}
        </div>
        <div >
          TIMESTAMP : {{record.TIMESTAMP}}
        </div>
        <div >
          BLINK : {{record.BLINK}}
        </div>
      </div>-->

    </div>


  </ion-content>
</ion-view>

